@media (min-width: 576px) {
  #_layout > header,
  #_layout > main,
  #_layout > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 2.5);
  }
}
@media (min-width: 768px) {
  #_layout > header,
  #_layout > main,
  #_layout > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 3);
  }
}
@media (min-width: 992px) {
  #_layout > header,
  #_layout > main,
  #_layout > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 3.5);
  }
}
@media (min-width: 1200px) {
  #_layout > header,
  #_layout > main,
  #_layout > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 4);
  }
}

#_layout,
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#_layout > header,
#_layout > main,
#_layout > footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
}

#_layout > header {
  padding-bottom: auto 0;
  background-color: whitesmoke;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  color-scheme: light;
  --background-color: #fff;
  --primary: #3b641f;
  --primary-hover: #1f6448;
  --primary-focus: rgba(15, 135, 150, 0.125);
  --primary-inverse: #fff;
  --secondary: #1f5e64;
  --secondary-hover: #261f64;
  --secondary-focus: rgba(89, 107, 120, 0.125);
  --secondary-inverse: #fff;
}
